@use "_functions" as *;

:root {
    --white: #ffffff;
    --black: #000000;
    --dkGray: #303030;
    --ltGray: #707070;
    --prmColor: #362F08;
    --secColor: #BA6619;
    --accColor: #DED056;
    --background: #FFF3D3;
}
